<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @order.customer_name %>!</h1>
    <p>
      Вы оформили заказ в магазине браслетов из 
      натуральных камней juliabracelets.ru. <br/>
    </p>
    <p>Номер Вашего заказа: # <%= @order.id %></p>
    </br>
    <p>Ваш заказ:</p>
    	<%= render 'orders/order_table' %>
    <div>
		    
    </div>
    <p>
      Чтобы перейти на сайт, воспользуйтесь ссылкой: <%= @url %>.
    </p>
    <p>Спасибо, что Вы с нами! Удачного дня!</p>
  </body>
</html>