<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @order.customer_name %>!</h1>
    <p>
      Вы оформили заказ в магазине браслетов из 
      натуральных камней juliabracelets.ru. <br/>
    </p>
    <p>Ваш заказ:</p>
    <div>
		    
    </div>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>